@model ProyectoGestionPedido.Models.MetodoTransporte

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MetodoTransporte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="IdMetodoTransporte" class="control-label"></label>
                <input asp-for="IdMetodoTransporte" class="form-control" />
                <span asp-validation-for="IdMetodoTransporte" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoKilometro" class="control-label"></label>
                <input asp-for="CostoKilometro" class="form-control" />
                <span asp-validation-for="CostoKilometro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
